@model List<magaFine.Models.articles>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Post", Model)

@*測試XSS*@
@if (@ViewBag.userName != null)
{
    <div>Welcome, @Html.Raw(@ViewBag.userName)</div>
}

@*<script>
        $(document).ready(function () {
            if (@ViewBag.userName != null)
                {
                    alert("Welcome, " + "@ViewBag.userName");
                }
            });
    </script>*@